
body {
    display: block;
    margin: 0px;
}

#login_success{
    color: forestgreen;
}
#login_failure{
    color: red;
}

#main-text{
    padding: 15px;
    float: left;
    font-size: x-large;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#main-text:hover{
    cursor: hand;
    cursor: pointer;
}

#welcome-text{
    font-size: small;
    color: #2196F3;
    float: right;
    font-family: "Lucida Console", Monaco, monospace;
}

#logout{
    padding: 15px;
    font-size: small;
    color: red;
    float: right;
    font-family: "Lucida Console", Monaco, monospace;
}
#logout:hover{
    cursor:hand;
    cursor:pointer;
    font-size: medium;
}


.account {
    width: 300px;
    padding: 30px 20px;
    background: white;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
}

.header{
    display: block;
}

.menu{
    display: block;
    background-color: white;
    border-right: 1px solid #e7e7e7;
}

.content{
    display: block;
    border-top: 1px solid #e7e7e7;
}

#card{
    background-color: #efbd1b;
    color: black;
    padding: 6px 15px;
    font-family: Tahoma;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

#acc_no_login,#pin_no_login,#name {
    display: block;
    margin: 0 auto;
    width: 80%;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.3);
    height: 45px;
    line-height: 45px;
    margin-bottom: 10px;
    padding: 3px;
}

#login,#signup {
    margin-top: 25px;
    width: 80%;
    border: 0;
    background-color: #53CACE;
    border-radius: 5px;
    height: 50px;
    color: white;
    font-size: 20px;
}

.menu-top-bar{
    padding: 10px;
    background-color: #e7e7e7;
    font-size: x-large;
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.menu-item{
    background-color: #efbd1b;
    height: 15px;
    margin: 5px;
    padding: 20px;
    font-family: Tahoma;
    border-radius: 3px;
}
.menu-item:hover{
    margin-left: 0px;
    margin-right: 0px;
    cursor: hand;
    cursor: pointer;
}
.menu-item-selected{
    background-color: #efbd1b;
    height: 15px;
    margin: 5px;
    padding: 20px;
    margin-right: 0px;
    border-radius: 5px 0px 0px 5px;
    font-family: Tahoma;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 8px solid green;
}

.arrow-right {
    width: 0;
    height: 0;

}


.content-topbar{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    padding: 10px;
    font-size: x-large;
    text-align: center;
    border-bottom: 1px solid #e7e7e7;
}
#content-name{
    color: #2196F3;
    vertical-align: middle;
}

#account-summary-main-area{
    padding: 15px;
    float: left;
    font-size: large;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#deposit{
    align-items: center;
    display: none;
    }
#withdraw{
    display: none;
}
#add-beneficiary{
    align-content: stretch;
    display: none;
}
#transfer{
    display: none;
}
#mini-statement{
    display: none;
    background-color: white;
}

tr{
    width: 75%;
    padding: 10px;
    font-size: large;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
tr:nth-child(odd) { background-color: #e7e7e7 ; }
tr:nth-child(even) { background: white; }

th{
    background-color: #2196F3;
    color: white;
    padding: 10px;
    font-size: large;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.successfull-entry{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    background-color: #e7e7e7;
    border-radius: 3px;
    display: none;
}
.success-message{
    color: forestgreen;
    font-size: x-large;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}


#deposit-amount, #withdraw-amount, #inbank-accno,#otherbank-accno,#otherbank-bankname,
    #otherbank-branch,#otherbank-name,#otherbank-ifsc, #transfer-amount{
    padding: 10px;
    display: block;
    font-size: large;
    width: 100%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    border: 1px solid #e7e7e7;
}

#withdraw-submit, #deposit-submit, #inbank-submit, #otherbank-submit, #transfer-submit{
    background-color: #2196F3;
    border-radius: 2px;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    border: 0px;
}
#withdraw-submit:hover, #deposit-submit:hover, #inbank-submit:hover, #otherbank-submit:hover, #transfer-submit:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.label{
    color: #2196F3;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#beneficiary-block{
    width:100%;
    display: inline-flex;
}


#deposit-form,#withdraw-form, #transfer-form, #inbank-block,#otherbank-block{
    margin: 10px auto;
    padding: 10px;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}


#mini-statement-table{
    margin: 10px auto;
    width: 75%;
    display: block;
}
#table1{
    width: 100%;
    padding: 10px;
}


select{
    width: 100%;
    padding: 10px;
}

#prev{
    float: left;
    background-color: #2196F3;
    border-radius: 2px;
    color: white;
    text-align: center;
    padding: 10px;
    width: 10%;
    border: 0px;
    display: none;
}
#next{
    float: right;
    background-color: #2196F3;
    border-radius: 2px;
    color: white;
    text-align: center;
    padding: 10px;
    width: 10%;
    border: 0px;
    display: none;
}



.profile {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 10px auto;
    width:25%;
    border-radius: 5px;
}

.profile:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;
}
